:root {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #424242;
    --bg-color: #fff;
    --heading-color: #292922;
    --font-family: "Nunito", sans-serif;
}

[data-theme="dark"] {
    --primary-color: #9A97F3;
    --secondary-color: #818cab;
    --font-color: #e1e1ff;
    --bg-color: #161625;
    --heading-color: #818cab;
    --font-family: "Nunito", sans-serif;
}


body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: var(--font-family);
}

.heading-title {
    color: var(--font-color);
    text-decoration: none;
}

/* START: Individual Classes */
.flex-container {
    display: flex;
}

.display-block {
    display: block;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.space-evenly{
    justify-content: space-evenly;
}

.align-items-center {
    align-items: center;
}

.mb-24{
    margin-bottom: 24px;
}

.ml-10p {
    margin-left: 10%;
}
/* END: Individual Classes */

/* START: toggle theme switch */
/* link: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */
.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--font-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color:var(--bg-color);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* END: toggle theme switch */

.blog-title {
    text-decoration: none;
    color: var(--font-color);
    max-width: 500px;
}

/* START: mobile screen media queries*/
@media (max-width:767px) {
    .switch{
        width: 36px;
        height: 20px;
    }
    .slider:before {
        height: 16px;
        width: 16px;
        left: 2px;
        bottom: 2px;
    }
    input:checked + .slider:before {
        -webkit-transform: translateX(16px);
        -ms-transform: translateX(16px);
        transform: translateX(16px);
      }
}
/* END: mobile screen media queries*/